
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-block: clamp(15px, 2vw, 20px);
    background: var(--dark);
    box-shadow: 0px -8px 5px var(--dark);
}

.links_list {
    display: flex;
    gap: 0.5rem;
}

.link {
    text-wrap: nowrap;
    white-space: none;
}