
.project_section {
    width: 100%;
    max-width: 40rem;
    align-self: center;
    height: 100%;
    min-height: 0;

    display: flex;
    flex-flow: column nowrap;
}

.form_container {
    width: calc(100% + 1rem);
    padding-bottom: 20px;
    padding-right: 1rem;
    box-sizing: border-box;
    box-shadow: 0px 8px 5px var(--dark);
    z-index: 9;
}

.form_container form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5rem;
}

.searchbar_container {
    width: 100%;
    position: relative;
}

.searchbar_container input {
    width: 100%;
    background: none;
    border: 2px solid var(--light_50);
    border-radius: 10px;
    padding: 8px 15px;
    box-sizing: border-box;
    font-family: 'STIX';
    color: var(--light);
}

.searchbar_container input:focus {
    border: 2px solid var(--light);
    border-radius: 10px 10px 0px 0px;
    outline: none;
    box-shadow: none;
}

.filters_container {
    position: absolute;
    border-radius: 0px 0px 10px 10px;
    height: 0;
    overflow: hidden;
    background: var(--dark);
    width: 100%;
    box-sizing: border-box;
    transition: height 0.2s ease-in-out;
}

.filters_container[data-toggled=true]{
    border: 2px solid var(--light);
    height: 10rem;
}

.sorter_container button {
    background: none;
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--light_50);
    border: 2px solid var(--light_50);
    border-radius: 10px;
    text-wrap: nowrap;
    padding: 8px 15px;
    font-family: 'STIX';
    font-size: 15px;
}

.project_list {
    height: 100%;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 5px;
}

.project_list::-webkit-scrollbar {
    background: none;
    width: 10px;
}

.project_list::-webkit-scrollbar-thumb {
    background: var(--light_50);
    border-radius: 5px;
}

.project_item {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    padding: 1rem 0.5rem;
    border-bottom: 1px solid var(--light_50);
    height: 128px;
    transition: height 0.2s ease-in-out;
}

.project_item[data-selected=true] {
    height: 10rem;
}

.project_name {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.project_status {
    --size: 10px;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
}

.project_status.complete {
    background: var(--complete);
}

.project_status.in_progress {
    background: var(--in_progress);
}
.project_dates {
    color: var(--light_50);
}

.project_description {
    display: block;
    width: calc(100% - 2rem);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.development_info_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tech_stack_container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.piechart {
    --size: 1rem;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
}

.collaborators_list {
    display: flex;
    gap: 0.5rem;
    transition: gap 0.2s ease-in-out;
}

.collaborators_list:hover{
    gap: 1.2rem;
}

.collaborator:nth-child(n+2){
    margin-left: -1rem;
}


.collaborator a img {
    width: 1.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    transition: scale .2s ease-in;
}

.collaborator:hover a img {
    scale: 1.2;
}