
:root {
    --bg: #0d1017;
    --fg: white;
    --navBG: #010409;
    --gray: #30363d;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--fg);

    background: var(--bg);
}

#root {
    width: 100%;
    height: 100%;
}

p, 
h1,
h2,
h3 {
    margin: 0;
}