
#general {
    padding: 2.5rem 1rem;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;

    max-width: 120rem;

    position: relative;
}

@media (max-width: 1025px){
    #general {
        align-items: center;
    }
}