
#container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    /* max-width: 100% !important; */

    box-sizing: border-box;
    gap: 1rem;
}

#overviewSection {
    min-width: 60%;
    /* max-width: 80%; */
    
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

#overviewSection h2 {
    font-weight: 400;
    font-size: 16px;
}